@model ShoppingChartOverviewViewModel

<ul class="navbar-nav">
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Chart" asp-action="Index">Chart: @Model.ItemsCount</a>
    </li>
</ul>
